/Slit-Server/nbproject/private/
/Slit-Server/Slit-Server-ejb/nbproject/private/
/Sit-Interface/nbproject/private/
/Slit-Appilication/nbproject/private/
/Sit-Interface/build/
/Slit-Server/Slit-Server-ejb/build/
/Sit-Interface/dist/
/Slit-Server/build/
/Slit-Appilication/build/
/Slit-Appilication/dist/